<section class='profile-section'>
  {{#if data}}
    <div>
      <h1>Perfil del usuario</h1>
      <p><strong>Nombres: </strong> {{data.firstName}}</p>
      <p><strong>Apellidos:</strong> {{data.lastName}}</p>
      <p><strong>Correo:</strong> {{data.email}}</p>
      <p><strong>Edad:</strong> {{data.age}}</p>
      <p><strong>Rol:</strong> {{data.role}}</p>
      <br />
      <form action='/api/v1/sessions/logout' method='POST'>
        <button type='submit'>Cerrar sesión</button>
      </form>
    </div>
    <br />
    <div>
      <a href='/products'>Ir a Productos</a>
      <br />
      <a href='/carts/{{data.cart}}'>Ir a Carrito</a>
    </div>
  {{else}}
    <div>
      <p>No tiene acceso a esta pag . Inicie sesión</p>
      <a href='/login'>Iniciar sesión</a>
    </div>
  {{/if}}
</section>

<style>
  .profile-section { max-width: 1200px; padding: 1rem; margin: 0 auto;}
</style>